h2 {
    margin-left: 15px;
    font-size: 1.5em;
}
.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px;
}
.card {
    flex-basis: 400px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.card-info__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-header {
    margin-top: 0;
    padding-top: 0;
    border-top: 5px solid cornflowerblue;
}
.card-header__type {
    margin: 0;
    color: grey;
}
.card-inner {
    flex-basis: 40%;

    &:nth-child(2n-1) {
        padding-left: 15px;
    }

    p:first-child {
        margin-bottom: 5px;
        margin-top: 15px;
        color: grey;
    }

    p:last-child {
        font-size: 25px;
        font-weight: bold;
    }
}
.card-progress {
    margin-left: 5px;
    opacity: 0.4;
    font-size: 12px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 14px;
    border-top: 4px solid rgb(59, 95, 59);
}







