<h2 class="main-title"><a ui-sref="dashboard">Dashboards</a></h2>
<section class="cards">
    <article class="card" ng-repeat="card in cards.cardsList">
        <div class="card-header">
            <h3 class="card-header__title">{{card.name}}</h3>
            <p class="card-header__type">{{card.type}}</p>
        </div>
        <div class="card-info">
            <div class="card-info__block">
                <div class="card-info__posts  card-inner">
                    <p>Approved Posts</p>
                    <p>{{card.approved_posts}}</p>
                </div>
                <div class="card-info__influences  card-inner">
                    <p>Influencers</p>
                    <p>{{card.num_of_artists}}</p>
                </div>
                <div class="card-info__likes  card-inner">
                    <p>Likes</p>
                    <p>{{card.approved_likes}}</p>
                </div>
                <div class="card-info__comments  card-inner">
                    <p>Comments</p>
                    <p>{{card.approved_comments}}</p>
                </div>
            </div>
            <div class="card-progress">
                <span>{{card.progress}}</span><span>%</span>
                <span>(</span><span>{{card.days_passed}}</span><span>/</span>
                <span>{{card.days_total}}</span><span>)</span>
            </div>
        </div>
        <div class="card-footer">
            <a  ng-click="cards.hideBtn($event)" href="">Hide</a>
            <a ui-sref="campaignDetails({id: card.id})">Show Details</a>
        </div>
    </article>
    <article class="additional">
        <a  class="additional-button" href="#" ng-click="cards.addNewCards($event)">More to Show</a>
    </article>
</section>

