<h2 class="main-title">
    <a ui-sref="dashboard">Dashboards</a>
</h2>
<h3 class="card-detail__title">{{cardDetail.card.name}}</h3>
<section class="card-detail">
    <article layout="row" layout-sm="column" layout-align="left center" layout-wrap>
        <md-button ng-click="cardDetail.showSocial('Instagram', $event)" class="md-raised socials">Instagram</md-button>
        <md-button ng-click="cardDetail.showSocial('Youtube', $event)" class="md-raised socials">Youtube</md-button>
        <md-button ng-click="cardDetail.showSocial('Facebook', $event)" class="md-raised socials">Facebook</md-button>
        <md-button ng-click="cardDetail.showSocial('Twitter', $event)" class="md-raised socials">Twitter</md-button>
    </article>
    <div ng-cloak class="card-detail__tabs">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="PENDING">
                    <md-content class="md-padding">
                        <div class="card-detail__filters">
                            <div class="card-detail__chips" ng-cloak>
                                <md-chips ng-model="cardDetail.keyWords" readonly="ctrl.readonly" md-removable="ctrl.removable"></md-chips>
                            </div>
                            <md-button ng-click="cardDetail.filterByKeyWords()" class="md-raised md-primary">Filter</md-button>
                        </div>
                        <div class="card-detail__breadcrumps">
                            <p class="card-detail__total-posts">{{cardDetail.postsTotalLength}} items total length</p>
                            <div class="card-detail__breadcrumps">
                                <a>First</a>
                                <a>Prev</a>
                                <a>1</a>
                                <a>2</a>
                                <a>3</a>
                                <a>4</a>
                                <a>Next</a>
                                <a>Last</a>
                            </div>
                        </div>
                        <div class="posts posts-pending">
                            <div class="posts__item" ng-repeat="post in cardDetail.media" ng-mouseenter="cardDetail.showCaption($event)" ng-mouseleave="cardDetail.removeCaption($event)">
                                <div class="posts__author-block">
                                    <img ng-src="{{post.author_pic}}" alt="" class="posts__author-photo">
                                    <div class="posts__author-info">
                                        <p>{{post.author_username}}</p>
                                        <p>
                                            <a href="{{post.link}}" class="thumb">{{post.social_network}}</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="post__content" style="background: url({{post.pic}}); background-size: cover;">
                                    <p class="post__caption" ng-show="post.caption.length > 100">{{post.caption | limitTo: 100}}...</p>
                                </div>
                                <div class="post__counter">
                                    <div class="post__likes">
                                        <span>Likes</span>
                                        <span>{{post.likes_number}}</span>
                                    </div>
                                    <div class="post__comments">
                                        <span>Comments</span>
                                        <span>{{post.comments_number}}</span>
                                    </div>
                                </div>
                                <div class="post__destination">
                                    <a class="post__rejected-btn btn" ng-click="cardDetail.rejectedPost($event)">Reject</a>
                                    <a class="post__approved-btn btn" ng-click="cardDetail.approvedPost($event)">Approve</a>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="APPROVED">
                    <md-content class="md-padding">
                        <div class="card-detail__breadcrumps">
                            <p class="card-detail__total-posts">{{cardDetail.postsTotalLength}} items total length</p>
                            <div class="card-detail__breadcrumps">
                                <a>First</a>
                                <a>Prev</a>
                                <a>1</a>
                                <a>2</a>
                                <a>3</a>
                                <a>4</a>
                                <a>Next</a>
                                <a>Last</a>
                            </div>
                        </div>
                        <div class="posts posts-approved"></div>
                    </md-content>
                </md-tab>
                <md-tab label="REJECTED">
                    <md-content class="md-padding">
                        <div class="card-detail__breadcrumps">
                            <p class="card-detail__total-posts">{{cardDetail.postsTotalLength}} items total length</p>
                            <div class="card-detail__breadcrumps">
                                <a>First</a>
                                <a>Prev</a>
                                <a>1</a>
                                <a>2</a>
                                <a>3</a>
                                <a>4</a>
                                <a>Next</a>
                                <a>Last</a>
                            </div>
                        </div>
                        <div class="posts posts-rejected"></div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</section>